* {
    box-sizing: border-box;
    margin: 0;
}


/* ejercicio 1  */

header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 100vw;

}

.logo {
    height: auto;
    width: 2.5rem;
}

nav ul li {
    display: inline;
    font-size: x-large;
    padding-left: 1em;
}


/* ejercicio 2  */

.background {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #7494E0, #C86085)
}

.bi-button {
    background: #3D4751;
    border: none;
    color: white;
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
    font-weight: bold;
    padding: 1.5em 3em;  
    position: absolute;
    transition: all .5s;
}

.bi-button:hover {
    border: 1px solid white;
    box-shadow: -9px 7px 5px #3D475154;
    background: none;
    transform: translate(5px)
}

/* ejercicio 3  */
.sky {
    height: 64.3vh;
    max-width: 100vw;
    background: #68bde3;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 10vw;
}

.sky-color {
    fill:  #6cb6d7;
}

.sun {
    height: 20vh;
}

.sand {
    height: 27vh;
    max-width: 100vw;
    background: #f3e9d9;
}

.palm-tree {
    height: 20vh;
    position: relative;
    top: 16vh;
    left: 39vw;
}

.ball {
    position: relative;
    float: right;
    height: 16vh;
    right: 10vw;
    top: 6vh;
}

.umbrella {
    height: 18vh;
    position: relative;
    bottom: 10px;
    left: -4vw;
    animation-name: move-right;
    animation-duration: 4s;
}

.title {
    font-size: 50px;
    font-weight: 700;
}

.subtitle {
    font-size: 16px;
    font-weight: 300;
}

.woman {
    position: relative;
    top: 6vh;
    height: 21vh;
    left: 60vw;
}

.yellow {
    fill: #fff666;
}

.yellowish {
    fill: #ffd640;
}

@keyframes move-right {
    0% { left: -4vw;}
    100% { left: 4vw;}
}

