* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


/* ejercicio 1  */

header {
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 3rem;
}

.logo {
    height: auto;
    width: 2.5rem;
}

nav ul li {
    display: inline;
    font-size: x-large;
    padding-left: 1em;
}


/* ejercicio 2  */

.background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(#7494E0), to(#C86085));
    background-image: -webkit-linear-gradient(left, #7494E0, #C86085);
    background-image: -o-linear-gradient(left, #7494E0, #C86085);
    background-image: linear-gradient(to right, #7494E0, #C86085)
}

.bi-button {
    background: #3D4751;
    border: none;
    color: white;
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
    font-weight: bold;
    padding: 1.5em 3em;  
    position: absolute;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.bi-button:hover {
    border: 1px solid white;
    -webkit-box-shadow: -9px 7px 5px #3D475154;
            box-shadow: -9px 7px 5px #3D475154;
    background: none;
    -webkit-transform: translate(5px);
        -ms-transform: translate(5px);
            transform: translate(5px)
}

/* ejercicio 3  */

/* colors */
.sky-color {
    fill:  #6cb6d7;
}


/* fonts */
.title {
    font-size: 50px;
    font-weight: 700;
}

.subtitle {
    font-size: 16px;
    font-weight: 300;
}

.title, .subtitle {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: not-so-slowly-appear;
            animation-name: not-so-slowly-appear;
    opacity: 0;
}


/* elements */
.ball {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: move-left;
            animation-name: move-left;
    height: 120px;
    opacity: 0;
    
}

.palm-tree {
    height: 150px;
    transform: translate(200px, -68%);
}

.palm-main {
    opacity: 0;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: slowly-appear;
            animation-name: slowly-appear;
}


.palm-stem {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: quick-fill;
            animation-name: quick-fill;
            animation-timing-function: ease-out;
            opacity: 0;
}


.petals-r {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: slowly-fill-r;
            animation-name: slowly-fill-r;
    fill: #f3e9d9;
}

.petals-l {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: slowly-fill-r;
            animation-name: slowly-fill-r;
    fill: #f3e9d9;
}

.umbrella {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: move-right;
            animation-name: move-right;
    height: 130px;
    opacity: 0;
}

.sand {
    background: #f3e9d9;
    display: flex;
    justify-content: space-between;
}

.sky {
    background: #68bde3;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 20px 145px 145px 145px;
}

.sun {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: slowly-appear;
            animation-name: slowly-appear;
    height: 170px;
    opacity: 0;
}

.woman {
    height: 150px; 
    transform: translateX(50%); 
}


/* animations */
@-webkit-keyframes move-right {
    0% { opacity: 0;}
    20% { transform: translate(80%); opacity: 1;}
    100% { transform: translate(80%); opacity: 1;}
}
@keyframes move-right {
    0% { opacity: 0;}
    20% { transform: translate(80%); opacity: 1;}
    100% { transform: translate(80%); opacity: 1;}
}

@-webkit-keyframes move-left {
    0% { opacity: 0;}
    20% { transform: translate(-250%); opacity: 1;}
    100% { transform: translate(-250%); opacity: 1;}
}

@keyframes move-left {
    0% { opacity: 0;}
    20% { transform: translate(-250%); opacity: 1;}
    100% { transform: translate(-250%); opacity: 1;}
}

@-webkit-keyframes appear {
    0% { display: none;}
    100% { display: block;}
}

@keyframes appear {
    0% { display: none;}
    100% { display: block;}
}

@-webkit-keyframes slowly-appear {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes slowly-appear {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@-webkit-keyframes not-so-slowly-appear {
    0% { opacity: 0;}
    30% { opacity: 1;}
    100% { opacity: 1;}
}

@keyframes not-so-slowly-appear {
    0% { opacity: 0;}
    30% { opacity: 1;}
    100% { opacity: 1;}
}

@-webkit-keyframes slowly-fill-r {
    0% { fill: #fff666; opacity: 0;}
    100% { fill: #fff666; opacity: 1;}
}

@keyframes slowly-fill-r {
    0% { fill: #fff666; opacity: 0;}
    100% { fill: #fff666; opacity: 1;}
}

@-webkit-keyframes slowly-fill-l {
    0% { fill: #ffd640; opacity: 0;}
    100% { fill: #ffd640; opacity: 1;}
}

@keyframes slowly-fill-l {
    0% { fill: #ffd640; opacity: 0;}
    100% { fill: #ffd640; opacity: 1;}
}

@keyframes quick-fill {
    0% { fill: #805333; opacity: 0;}
    100% { fill: #805333; opacity: 1;}
}