/* ejercicio 1  */

header {
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 100vw;

}

.logo {
    height: auto;
    width: 2.5rem;
}

nav ul li {
    display: inline;
    font-size: x-large;
    padding-left: 1em;
}

/* ejercicio 2  */

.background {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #7494E0, #C86085)
}

.bi-button {
    background: #3D4751;
    border: none;
    color: white;
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
    font-weight: bold;
    padding: 1.5em 3em;  
    position: absolute;
    transition: all .5s;
}

.bi-button:hover {
    border: 1px solid white;
    box-shadow: 2px 5px 18px #3D4751;
    background: none;
    transform: translate(10px)
}